.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#optionsContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 30px 0;
}

h1{
    margin: 0;
}